<mat-toolbar width="300px" height="100px" class="toolbar">

        <mat-toolbar-row>
          <label *ngIf="!change.nav">Let’s find your ideal car</label>
          <label *ngIf="change.nav">Update search</label>
        </mat-toolbar-row>

        <mat-toolbar-row class="pad">
            <mat-form-field class="search">
            <input matInput type="search" name="firstSearch" placeholder="Placeholder" 
            [formControl]="firstSearch" 
            [matAutocomplete]="auto" (keyup)="searchTerm$.next($event.target.value)" class="InputSearch">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let result of result1" [value]="result.pickUp">
                {{ result.pickUp }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf='firstSearch.invalid'>
                {{loading.errorMessage}}
              </mat-error>
              <mat-hint align='end' *ngIf='loading.error && firstSearch.untouched'>
                {{loading.errorMessage}}
              </mat-hint>
          </mat-form-field>

        </mat-toolbar-row>

        <mat-toolbar-row>
          <mat-form-field class="search">
            <input matInput type="search" name="secondSearch" placeholder="Placeholder" 
            [formControl]="secondSearch" 
            [matAutocomplete]="auto2"  (keyup)="searchTerm$2.next($event.target.value)"
            class="InputSearch"
            >
            <mat-autocomplete #auto2="matAutocomplete">
              <mat-option *ngFor="let result of result2" [value]="result.dropOff">
                {{ result.dropOff }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf='secondSearch.invalid'>
                {{loading.errorMessage}}
              </mat-error>
              
          </mat-form-field>
        </mat-toolbar-row>

        <mat-toolbar-row>
            <!-- {{change.nav}} -->
        </mat-toolbar-row>

        <mat-toolbar-row class="pad">
          
          <mat-form-field class="commonWid" *ngIf="!change.nav; else ElseBlock">
            <input matInput [textMask]="mask" 
            [min]="minDate" 
            [max]="maxDate" 
            (dateChange)="addEvent('change', $event)" 
            [matDatepicker]="picker1" placeholder="Choose a date" [(ngModel)]="dateFrom"
              disabled>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 disabled="false"></mat-datepicker>
          </mat-form-field>
          <ng-template #ElseBlock>
              <mat-form-field class="else">
                  <input matInput [textMask]="mask" 
                  [min]="minDate" 
                  [max]="maxDate" 
                  (dateChange)="addEvent('change', $event)" 
                  [matDatepicker]="picker1" placeholder="Choose a date" [(ngModel)]="dateFrom"
                    disabled>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                </mat-form-field>
          </ng-template>

          <span class="spacer"></span>

          <div *ngIf="!change.nav">

          <mat-form-field class="else">
            <input matInput type="time" [formControl]="timeFrom" placeholder="Choose time to"
            placeholder="Choose Time" class="without" min='minTime' max = 'maxTime' step="300" >
          </mat-form-field>
          
        </div>
        </mat-toolbar-row>

        <mat-toolbar-row *ngIf="change.nav">
            <mat-form-field class="else">
                <input matInput type="time" [formControl]="timeFrom" placeholder="Choose time from"
                 class="without" step="300">
              </mat-form-field>
        </mat-toolbar-row>

        <mat-toolbar-row >
            <mat-slide-toggle [(ngModel)]="returnJ" >Return Jorney</mat-slide-toggle>
            <span class="spacer"></span>
            <mat-form-field class="commonWid" *ngIf="!change.nav">
                <input matInput type="number" placeholder="Number Of Passengers" [formControl]="passengers">
                <mat-error *ngIf='passengers.invalid'>
                  {{loading.errorMessage3}}
                </mat-error>
              </mat-form-field>
        </mat-toolbar-row>

        <mat-toolbar-row *ngIf="change.nav">
            <mat-form-field class="else">
              <input matInput type="number" placeholder="Number Of Passengers" [formControl]="passengers">
              <mat-error *ngIf='passengers.invalid'>
                  {{loading.errorMessage3}}
                </mat-error>
              </mat-form-field>
        </mat-toolbar-row>

        <mat-toolbar-row class="padTop" *ngIf="returnJ">
            
                <mat-form-field class="else">
                    <input matInput type="search" [textMask]="mask" [min]="minDate2" [max]="maxDate2" 
                    [matDatepicker]="picker1" placeholder="Choose a date" [(ngModel)]="returnDate"
                      disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                  </mat-form-field>
  
            <span class="spacer"></span>
  
            <mat-form-field class="commonWid" *ngIf='!change.nav'>
            <input matInput type="time" [formControl]="timeTo" placeholder="Choose time to"
            class="without" step="300">
          </mat-form-field>
        </mat-toolbar-row>

        <mat-toolbar-row class="padTop" *ngIf='change.nav && returnJ'>
            <mat-form-field style='width: 100%;'>
                <input matInput type="time" [formControl]="timeTo" placeholder="Choose time to"
                class="without" step="300">
              </mat-form-field>
        </mat-toolbar-row>

        <mat-toolbar-row>
          <a mat-raised-button (click)="Find()" class="anchor" color="primary">Search</a>
        </mat-toolbar-row>


      </mat-toolbar>