
<mat-card-header style="text-align: center">
    <mat-card-title mat-dialog-title>Account Details</mat-card-title>

</mat-card-header>
<mat-card-content>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true" expandedHeight="48px">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Change Personal data
        </mat-panel-title>
        <mat-panel-description>
          Click to edit
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="postChanges"></form>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Name" type="text" 
          [(ngModel)]="name" [formControl]="postChanges.controls.Name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Surname" type="text" 
          [(ngModel)]="surname" [formControl]="postChanges.controls.Surname">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput hintLabel="(e.g.A@123Book)" 
          placeholder="Change Password" type="password" 
          [(ngModel)]="password" [formControl]="postChanges.controls.Password">
          <mat-error align="end" *ngIf='postChanges.controls.Password.invalid'>
            {{getError(postChanges.controls.Password, 'Pass')}}
          </mat-error>
          <mat-hint class="form-control-feedback"
              *ngIf="postChanges.controls.Password.errors && 
     (postChanges.controls.Password.dirty || postChanges.controls.Password.touched) && 
     postChanges.controls.Password.errors.minlength"
              >{{postChanges.controls.Password.errors.minlength.requiredLength - 
                postChanges.controls.Password.errors.minlength.actualLength}}
                characters left.</mat-hint>
        </mat-form-field>
        <!-- (postChanges.controls.ConfirmPassword.dirty || postChanges.controls.ConfirmPassword.touched) -->

        <!-- <mat-form-field>
          <input matInput placeholder="Confirm Password" type="password"
           [formControl]="postChanges.controls.ConfirmPassword"
          >
          <mat-error align="end" 
          *ngIf="postChanges.controls.Password.value!==postChanges.controls.ConfirmPassword.value
          " 
         >
            {{getError(postChanges.controls.ConfirmPassword, 'ConfirmPassword')}}
            Hello
          </mat-error>
          <mat-hint 
          *ngIf="password===postChanges.controls.ConfirmPassword.value && 
          (postChanges.controls.ConfirmPassword.dirty || postChanges.controls.ConfirmPassword.touched)" 
          class="success">
            Passwords match
          </mat-hint>
        </mat-form-field> -->
      <!-- </div> -->
      <!-- <div class="row"> -->
        <mat-form-field>
          <input matInput type="tel" placeholder="Phone Number" 
          [(ngModel)]="phone" [formControl]="postChanges.controls.Phone">
          <mat-error align="end" *ngIf='postChanges.controls.Phone.invalid'>
            {{getError(postChanges.controls.Phone, 'Phone')}}
          </mat-error>
        </mat-form-field>

        <mat-action-row>
          <button mat-button color="primary" (click)="confirmed()" 
          [disabled]="!postChanges.valid || loading.load">
            Confirm
          </button>
        </mat-action-row>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="row">
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Tabs with text labels</h2>
        <mat-tab-group class="demo-tab-group" (selectedTabChange)="tabChanged($event)">
          <mat-tab label="Accommodation">
            <mat-dialog-content class="demo-tab-content">
              <mat-spinner *ngIf="loading.load && focus[0]; else LoadData" [diameter]="30"></mat-spinner>
              <ng-template #LoadData>
                <div *ngIf="loading.error">
                  {{loading.errorMessage}}
                </div>
                <div *ngIf="!loading.error && focus[0]">
                  <mat-grid-list cols="7" rowHeight="100" style="overflow: auto">
                    <mat-grid-tile class="border">
                      <p>Property</p>
                    </mat-grid-tile>
                    <mat-grid-tile class="border">
                      <p>NumOfNights</p>
                    </mat-grid-tile>
                    <mat-grid-tile class="border">
                      <p>BookDate</p>
                    </mat-grid-tile>
                    <mat-grid-tile class="border">
                      <p>RoomsBooked</p>
                    </mat-grid-tile>
                    <mat-grid-tile class="border">
                      <p>PayType</p>
                    </mat-grid-tile>
                    <mat-grid-tile class="border">
                      <p>PayStatus</p>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <p>Total Paid</p>
                    </mat-grid-tile>
                    <div *ngFor="let Accommodation of accData">
                          <mat-grid-tile style="overflow-x: auto">
                            <p>{{Accommodation.detail.prop.propName}}</p>
                          </mat-grid-tile>
                          <mat-grid-tile style="overflow-x: auto">
                            <p>{{Accommodation.numOfNights}}</p>
                          </mat-grid-tile>
                          <mat-grid-tile style="overflow-x: auto">
                            <p>{{Accommodation.bookDate}}</p>
                          </mat-grid-tile>
                          <mat-grid-tile style="overflow-x: auto">
                            <p>{{Accommodation.roomsBooked}}</p>
                          </mat-grid-tile>
                          <mat-grid-tile style="overflow-x: auto">
                            <p>{{Accommodation.payType}}</p>
                          </mat-grid-tile>
                          <mat-grid-tile style="overflow-x: auto">
                            <p>{{Accommodation.payStatus}}</p>
                          </mat-grid-tile>
                          <mat-grid-tile style="overflow-x: auto">
                            <p>R {{Accommodation.total}}</p>
                          </mat-grid-tile>
                          <mat-divider></mat-divider>
                          
                    </div>
                  </mat-grid-list>
                </div>
              </ng-template>
            </mat-dialog-content>
          </mat-tab>
          <mat-tab label="Flight" >
            <mat-dialog-content class="tab-content">
                <mat-spinner *ngIf="loading.load && focus[1]; else FlightData" [diameter]="30"></mat-spinner>
                <ng-template #FlightData>
                  <div *ngIf="loading.error">
                    {{loading.errorMessage}}
                  </div>
                  <div *ngIf="!loading.error && focus[1]">
                    <mat-grid-list cols="8" rowHeight="180" style="overflow: auto">
                      <mat-grid-tile class="border">
                        <p>Flight From</p>
                      </mat-grid-tile>
                      <mat-grid-tile class="border">
                        <p>Flight To</p>
                      </mat-grid-tile>
                      <mat-grid-tile class="border">
                        <p>FlightType</p>
                      </mat-grid-tile>
                      <mat-grid-tile class="border">
                        <p>Travellers</p>
                      </mat-grid-tile>
                      <mat-grid-tile class="border">
                          <p>Book Date</p>
                        </mat-grid-tile>
                      <mat-grid-tile class="border">
                        <p>PayType</p>
                      </mat-grid-tile>
                      <mat-grid-tile class="border">
                        <p>PayStatus</p>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <p>Total Paid</p>
                      </mat-grid-tile>
                      <div *ngFor="let Flight of flightData">
                            <mat-grid-tile style="overflow-x: auto">
                              <p>{{Flight.detail.dest.flight.locale}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                              <p>{{Flight.detail.dest.dest}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                              <p>{{Flight.flightType}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                              <p>{{Flight.travellers}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                                <p>{{Flight.bookDate}}</p>
                              </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                              <p>{{Flight.payType}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                              <p>{{Flight.payStatus}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                              <p>R {{Flight.total}}</p>
                            </mat-grid-tile>
                            <mat-divider></mat-divider>
                      </div>
                    </mat-grid-list>
                  </div>
                </ng-template>
            </mat-dialog-content>
          </mat-tab>
          <mat-tab label="Car Rental">
            <mat-dialog-content class="tab-content">
                <mat-spinner *ngIf="loading.load && focus[2]; else carData" [diameter]="30"></mat-spinner>
                <ng-template #carData>
                  <div *ngIf="loading.error">
                    {{loading.errorMessage}}
                  </div>
                  <div *ngIf="!loading.error && focus[2]">
                    <mat-grid-list cols="6" rowHeight="100" style="overflow: auto">
                      <mat-grid-tile class="border">
                        <p>Car</p>
                      </mat-grid-tile>
                      <mat-grid-tile class="border">
                        <p>Book Date</p>
                      </mat-grid-tile>
                      <mat-grid-tile class="border">
                        <p>Return Date</p>
                      </mat-grid-tile>
                      <mat-grid-tile class="border">
                        <p>PayType</p>
                      </mat-grid-tile>
                      <mat-grid-tile class="border">
                        <p>PayStatus</p>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <p>Total Paid</p>
                      </mat-grid-tile>
                      <div *ngFor="let Car of carRentalData">
                            <mat-grid-tile style="overflow-x: auto">
                              <p>{{Car.car.ctype.name}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                                <p>{{Car.bookDate}}</p>
                              </mat-grid-tile>
                              <mat-grid-tile style="overflow-x: auto">
                                  <p>{{Car.returnDate}}</p>
                                </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                              <p>{{Car.payType}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                              <p>{{Car.payStatus}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                              <p>R {{Car.total}}</p>
                            </mat-grid-tile>
                            <mat-divider></mat-divider>
                      </div>
                    </mat-grid-list>
                  </div>
                </ng-template>
            </mat-dialog-content>
          </mat-tab>
          <mat-tab label="Air Taxi">
            <mat-dialog-content>
                <mat-spinner *ngIf="loading.load && focus[3]; else taxiData" [diameter]="30"></mat-spinner>
                <ng-template #taxiData>
                  <div *ngIf="loading.error">
                    {{loading.errorMessage}}
                  </div>
                  <div *ngIf="!loading.error && focus[3]">
                    <mat-grid-list cols="7" rowHeight="100" style="overflow: auto">
                      <mat-grid-tile class="border">
                        <p>Air Taxi</p>
                      </mat-grid-tile>
                      <mat-grid-tile class="border">
                          <p>Book Date</p>
                        </mat-grid-tile>
                        <mat-grid-tile class="border">
                          <p>Return Journey</p>
                        </mat-grid-tile>
                        <mat-grid-tile class="border">
                          <p>Passengers</p>
                        </mat-grid-tile>
                      <mat-grid-tile class="border">
                        <p>PayType</p>
                      </mat-grid-tile>
                      <mat-grid-tile class="border">
                        <p>PayStatus</p>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <p>Total Paid</p>
                      </mat-grid-tile>
                      <div *ngFor="let Taxi of airTaxiData">
                            <mat-grid-tile style="overflow-x: auto">
                              <p>{{Taxi.airDetail.taxi.name}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                              <p>{{Taxi.bookDate}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                              <p>{{Taxi.returnJourney}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                                <p>{{Taxi.passengers}}</p>
                              </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                              <p>{{Taxi.payType}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                              <p>{{Taxi.payStatus}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile style="overflow-x: auto">
                              <p>R {{Taxi.total}}</p>
                            </mat-grid-tile>
                            <mat-divider></mat-divider>
                      </div>
                    </mat-grid-list>
                  </div>
                </ng-template>
            </mat-dialog-content>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  
</mat-card-content>
<mat-card-footer>
    <div class="row">
        <mat-grid-list cols="2" rowHeight="20">
          <mat-grid-tile>
            <button mat-button mat-dialog-close>
              Close Window
            </button>
          </mat-grid-tile>
          <mat-grid-tile color="accent" *ngIf="msLoading.error && !msLoading.load;" class="fail">
            {{msLoading.errorMessage}}
          </mat-grid-tile>
          <mat-grid-tile class="success" *ngIf="!msLoading.error && !msLoading.load && Submited;">
            Saved Changes
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-spinner *ngIf="msLoading.load" [diameter]="30"></mat-spinner>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
</mat-card-footer>
