<mat-grid-list cols="7" rowHeight="150px">
  <mat-grid-tile [colspan]="7" style="background-color: goldenrod; border-radius: 50px">
    <app-search-bar></app-search-bar>
  </mat-grid-tile>
  <!--<mat-grid-tile [colspan]="1">

    </mat-grid-tile>-->
  <div *ngFor="let detail of myDetail; let i = index">
    <mat-grid-tile [colspan]="1">
      <!--<mat-toolbar>
        <mat-toolbar-row>-->
      <div class="comp" layoutWrap>
        <img src="data:image/jpeg;base64,{{detail.c.picture}}" width="50px" height="50px"> {{detail.c.companyName}}
      </div>
      <!--<div class="spacer"></div>
          <div>{{detail.departure | date:'shortTime'}}</div>
          <div class="spacer"></div>
          <div>{{detail.returnTrip | date:'shortTime'}}</div>
          <div class="spacer"></div>
          <div></div>-->
      <!--</mat-toolbar-row>
      </mat-toolbar>-->

    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
        <div>{{detail.departure | date:'shortTime'}} {{myFlight}}</div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" align="center">
        {{detail.path}}
    </mat-grid-tile>

    <!--<mat-grid-tile [colspan]="1">
        {{return[i]}}
    </mat-grid-tile>-->

    <mat-grid-tile [colspan]="1">
        <div>{{detail.returnTrip | date:'shortTime'}} {{myDestination}}</div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">

    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" class="vl">
      <div align="end">
        <p *ngIf='service.flightPrice[i].price'><b>Total: R {{service.flightPrice[i].price}} for {{service.flightPrice[i].travellers}}</b></p>
        <p><button mat-raised-button color="primary" (click)="IfLoggedIn(detail)">Book Flight</button></p>
      </div>
    </mat-grid-tile>
  </div>

  <mat-grid-tile [colspan]="7" *ngIf='myDetail.length === 0' style="background-color: darkgrey">
    <h1>No flights available</h1>
  </mat-grid-tile>

</mat-grid-list>