.container{
    position: relative;
    /* border: 1px solid black; */
}
.topleft {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 18px;
    color: azure;
    border-radius: 8px;
}

img.First{
    border-radius: 8px;
}
.pointer {
    cursor: pointer;
    padding-bottom: 10px;
}
.spacer {
    flex: 1 1 auto;
  }
.search{
    background-color: antiquewhite;
}
.Hght{
    height: auto;
    padding-bottom: 30px;
    word-wrap: break-word;
}
.full-width{
    width: 90%;
}
div.displayContents
{
    width: max-content;
    height: auto;
    position: absolute;
    top: 10%;
    left: 10%;
}
/* div.displayContents:hover
{
    background-color: blue 
} */
div.fit{
    width: fit-content;
    /* height: 500px; */
    height: 100%;
}
.toolbar{
    width: fit-content;
}
/* tr, td{
    text-align: right;
} */