<div class="row">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <a routerLink="/home">
        <img width="100" alt="Booking Logo" src="../assets/images/BookingImage.jpg">
      </a>
    </span>
    <!-- <span class="fill-remaining-space"></span>
    <span class="align-center"></span> -->
    <span class="spacer"></span>
    
    <div *ngIf="!auth, else elseBlock" class="row">
      <button mat-button type="submit" (click)="openRegDialog()" [disabled]="loading">
        Register
      </button>
      <span class="space"></span>
      <button mat-button type="submit" (click)="openSignInDialog()" [disabled]="loading">
        SignIn
      </button>
    </div>
    <ng-template #elseBlock>
      <button mat-button [matMenuTriggerFor]="menu">Welcome {{Name}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openAccDet()" *ngIf="!admin">
          AccountDetails
        </button>
        <button mat-menu-item (click)="closeSession()">
          SignOut
        </button>
      </mat-menu>
    </ng-template>

  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="error.error">
      <span class="spacer"></span>
      <div align = 'end' class="row" style="color: red;">
          {{error.errorMessage}}
        </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <nav mat-tab-nav-bar class="navLinks" *ngIf="!admin || !auth; else Admin">
      <a mat-button mat-tab-link routerLink="/home" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">Accommodation</a>
      <a mat-button mat-tab-link routerLink="/flight" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">Flights</a>
      <a mat-button mat-tab-link routerLink="/car-rentals" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">CarRentals</a>
      <a mat-button mat-tab-link routerLink="/air-taxi" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">AirTaxi</a>
    </nav>
    <ng-template #Admin>
    <nav mat-tab-nav-bar class="navLinks">
        <a mat-button mat-tab-link routerLink="/admin" routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">Get</a>
        <a mat-button mat-tab-link routerLink="/admin-post" routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">Post</a>
        <a mat-button mat-tab-link routerLink="/admin-put" routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">Put</a>
        <a mat-button mat-tab-link routerLink="/admin-delete" routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">Delete</a>
    </nav>
  </ng-template>
    <span class="fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="spacer"></span>
    
  </mat-toolbar-row>
</mat-toolbar>
</div>
<mat-card-content>
  <router-outlet>

  </router-outlet>
</mat-card-content>
<mat-card-footer>
  <app-footer></app-footer>
</mat-card-footer>