<mat-accordion>
  <mat-expansion-panel *ngFor= "let repeat of repeat_statement">
      <!-- <mat-expansion-panel> -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        Get(Showing first 10)
      </mat-panel-title>
      <mat-panel-description>
        All {{repeat.serviceType}}<span *ngIf="active === repeat.serviceType">, Collapse Me</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card mat-line style="background-color: black; color: azure">
    <mat-card-content>
        <pre>{{repeat.data|slice:0:9|json}}</pre>
    </mat-card-content>
    <!-- <div><pre>{{repeat_statement[2].data|slice:0:10|json}}</pre></div> -->
  </mat-card>
    <mat-action-row>
      <button mat-button color="primary" (click)="GetAll(repeat.serviceType)">
        Confirm
      </button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
