<mat-accordion>
  <mat-expansion-panel *ngFor= "let repeat of repeat_statement">
      <!-- <mat-expansion-panel> -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        Get
      </mat-panel-title>
      <mat-panel-description>
        <span *ngIf='repeat.serviceType === Users'>All</span> {{repeat.serviceType}}<span *ngIf="active === repeat.serviceType">, Collapse Me</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card style="background-color: black; color: azure">
    <mat-card-content style="overflow: auto">
        <pre *ngIf='repeat.serviceType === "Users"; else ID'>{{repeat.data|slice:0:10|json}}</pre>
        <ng-template #ID>
          <mat-form-field style="background-color: cornsilk" >
            <input matInput type="number" [(ngModel)]='id' placeholder="{{repeat.serviceType}} detail id" style="color: black"/>
          </mat-form-field>
          <pre *ngIf='repeat.serviceType != "Users"'>{{repeat.data|json}}</pre>
        </ng-template>
        
    </mat-card-content>
    <!-- <div><pre>{{repeat_statement[2].data|slice:0:10|json}}</pre></div> -->
  </mat-card>
    <mat-action-row>
      <button mat-button color="primary" (click)="GetAll(repeat.serviceType)" [disabled] = 'loading.load'>
        Confirm
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
