<mat-accordion>
        <mat-expansion-panel *ngFor="let data of loop">
          <mat-expansion-panel-header>
            <mat-panel-title>
                    Put
            </mat-panel-title>
            <mat-panel-description>
                    {{data.text}} 
                    <span *ngIf='!loading.error && active === data.text' style="color: rgb(135, 241, 135)"> Success</span>
                    <span *ngIf='loading.error && active === data.text' style="color: red"> Put Error</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-card style="background-color: black; color: azure">
                <mat-card-content *ngIf="!data.change; else TextArea">
                          <pre>{{data.obj|json}}</pre>
                    </mat-card-content>
                <ng-template #TextArea>
                        <mat-card-content style="background-color: azure; color: black">
                                <mat-form-field class="wid">
                                    <textarea matInput name="acc" id="" rows="30" [(ngModel)] = "data.bind">
                                            
                                    </textarea>
                                </mat-form-field>
                            </mat-card-content>
                </ng-template>
          </mat-card>
          <mat-action-row>
                <button mat-button color="primary" (click)="data.change=true">
                  Put
                </button>
                <button mat-raised-button color="primary" (click)="PutAll(data)" *ngIf="data.change">
                  <mat-spinner *ngIf="loading.load; else Submit" [diameter]="30"></mat-spinner>
                  <ng-template #Submit>Submit</ng-template>
                </button>
              </mat-action-row>
        </mat-expansion-panel>
        
      </mat-accordion>
      <form name="form">
          <label for="image">Load Image: </label><br/>
        <input type="file" name="files" accept="image/*, .zip" (change)="onFileChange($event)" maxsize="5000" required base-sixty-four-input>
        <br/>
      </form>
      <div style="overflow: auto" *ngIf='files'>
        {{files.filename}}<br/>
        {{files.filetype}}<br/>
        {{files.base64}}
      </div>
      
      <h1 align='center' *ngIf='loading.error'>{{loading.errorMessage}}</h1>