<mat-grid-list cols="1" rowHeight="50px" class="searchBar">
  <!--<div class="searchBar">-->
  <mat-grid-tile 
      [rowspan]="3" align="center" class="Font">
      Search hundreds of travel sites at once.
  </mat-grid-tile>
  <mat-grid-tile 
      [rowspan]="3" align="center" style="background-color: gold; border-radius: 50px" >
      <mat-list>
        <mat-list-item>
      <!--<mat-form-field appearance="outline" style="background-color: ghostwhite; border-radius: 8px">-->
        <!--<mat-label>Outline form field</mat-label>-->
        <input type="text" name="firstSearch" placeholder="Placeholder" [formControl]="firstSearch" 
        [matAutocomplete]="auto" (keyup)="searchTerm$.next($event.target.value)" class="Width">
        <a (click)="swap()" class="pointer"><mat-icon matSuffix>settings_ethernet</mat-icon></a>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let result of result | slice:0:9" [value]="result.locale">
            {{ result.locale }}
          </mat-option>
        </mat-autocomplete>
      <!--</mat-form-field>-->
      <!--<mat-form-field appearance="outline" style="background-color: ghostwhite; border-radius: 8px">-->
        <!--<mat-label>Outline form field</mat-label>-->
        <input type="text" name="secondSearch" placeholder="Placeholder" [formControl]="secondSearch" 
        [matAutocomplete]="auto2"  (keyup)="searchTerm$2.next($event.target.value)" class="Width" >
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let result of result | slice:0:9" [value]="result.destination">
            {{ result.destination }}
          </mat-option>
        </mat-autocomplete>
      <!--</mat-form-field>-->
    
      <mat-form-field class="example-full-width">
        <input matInput [textMask]="mask"
        [min]="minDate" [max]="maxDate" 
        [matDatepicker]="picker1" placeholder="Choose a date" [(ngModel)]="dateFrom"
          disabled>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput [min]="minDate2" [max]="maxDate2" [matDatepicker]="picker2" placeholder="Choose a date" [(ngModel)]="dateTo"
            disabled>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 disabled="false"></mat-datepicker>
        </mat-form-field>

          <mat-form-field size="25px">
              <mat-select placeholder="FlightDetails" [formControl]="panel" panelClass="{{panel.value}}">
                <mat-option *ngFor="let data of data" [value]="data">
                  {{data}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <button mat-raised-button color="primary" (click)="LoadDetails()"><mat-icon>search</mat-icon></button>
        </mat-list-item>
          </mat-list>
  </mat-grid-tile>
<!--</div>-->

</mat-grid-list>