<mat-grid-list cols="7" rowHeight="70px">
  <mat-grid-tile [colspan]="7">

  </mat-grid-tile>
  <!--<mat-grid-tile [colspan]="1">

    </mat-grid-tile>-->
  <div *ngFor="let detail of myDetail; let i = index">
    <mat-grid-tile [colspan]="1">
      <!--<mat-toolbar>
        <mat-toolbar-row>-->
      <div class="comp" layoutWrap>
        <img src="data:image/jpeg;base64,{{flightPics[i].picture}}" width="50px" height="50px"> {{flightPics[i].companyName}}
      </div>
      <!--<div class="spacer"></div>
          <div>{{detail.departure | date:'shortTime'}}</div>
          <div class="spacer"></div>
          <div>{{detail.returnTrip | date:'shortTime'}}</div>
          <div class="spacer"></div>
          <div></div>-->
      <!--</mat-toolbar-row>
      </mat-toolbar>-->

    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
        <div>{{detail.departure | date:'shortTime'}}</div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" align="center">
        {{detail.path}}
    </mat-grid-tile>

    <!--<mat-grid-tile [colspan]="1">
        {{return[i]}}
    </mat-grid-tile>-->

    <mat-grid-tile [colspan]="1">
        <div>{{detail.returnTrip | date:'shortTime'}}</div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">

    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" class="vl">
      <mat-card-action align="end">
        <button mat-raised-button color="primary">Book Flight</button>
      </mat-card-action>
    </mat-grid-tile>
  </div>

</mat-grid-list>