<mat-grid-list cols="2" rowHeight="210">
  <mat-grid-tile [rowspan]="2">
    <mat-toolbar style="background-color: goldenrod;" class="toolbar">

      <mat-toolbar-row>
        <label for="search">Destination :</label>
        
      </mat-toolbar-row>

      <mat-toolbar-row class="spaceLayout">
          <mat-form-field class="full-width">
          <input matInput type="search"  name="search" 
          placeholder="search" [formControl]="search" 
          [matAutocomplete]="auto" 
          (keyup)="searchTerm$.next($event.target.value)" class="search">
          <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
            <mat-option *ngFor="let result of result " (mouseover)="onFocus(result.country+', '+result.location)" [value]="result.country+', '+result.location">
              {{ result.country }} {{result.location}} 
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf='search.invalid && search.pristine'>
            {{checkError.errorMessage}}
          </mat-error>
          <mat-hint align="end" *ngIf='checkError.error && search.untouched'>
            {{checkError.errorMessage}}
          </mat-hint>
        </mat-form-field>
      </mat-toolbar-row>

      <mat-toolbar-row>

        <mat-form-field class="date">
          <input matInput
          [min]="minDate" 
          [max]="maxDate" 
          (dateChange)="addEvent('change', $event)" 
          [matDatepicker]="picker1" placeholder="Date From" [(ngModel)]="dateForm"
            disabled>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 disabled="false"></mat-datepicker>
        </mat-form-field>

        <span class="spacer">
        </span>

        <mat-form-field class="date">
          <input matInput [min]="minDate2" [max]="maxDate2" [matDatepicker]="picker2"
           placeholder="Date To" [(ngModel)]="dateTo"
            disabled>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 disabled="false"></mat-datepicker>
        </mat-form-field>

      </mat-toolbar-row>

      <mat-toolbar-row>
        
      </mat-toolbar-row>

      <mat-toolbar-row>
        <mat-form-field>
          <mat-select placeholder="Number of rooms to book" 
          [formControl]="panel"
          panelClass="{{panel.value}}" class="input">
            <!--<mat-option value="{{panel.number+panel.text}}">{{panel.number+panel.text}}</mat-option>-->
            <mat-option value="{{num.number+num.text}}" *ngFor="let num of Num ">{{num.number+num.text}}</mat-option>
          </mat-select>
          <mat-error>
            Not Enough Rooms<br/> For Selected Destination
          </mat-error>
        </mat-form-field>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span class="fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="spacer"></span>
        <button mat-raised-button (mouseup)="Find(search)" color="primary">Search</button>
      </mat-toolbar-row>


    </mat-toolbar>
  </mat-grid-tile>

  <mat-grid-tile *ngFor="let acc of accommodation | slice:0:2">
    <a (mouseup)="Search(acc.accId)">

      <div class="container" layout-wrap>

        <img src="data:image/jpeg;base64,{{acc.picture}}" alt="{{acc.location}}" srcset="" class="ImgGrid"/>

        <div class="topleft">{{acc.location}}</div>

      </div>

    </a>
  </mat-grid-tile>

  <mat-grid-tile [colspan]='2' [rowspan]='2'  style="overflow-y: visible">
    <a style="position: absolute; top: 50%; left: 3%;border-radius: 100%;z-index:999;width: 3px; color: blue"
      *ngIf='service.from > 1' (click)='From()'><mat-icon style="border: outset; border-radius: 100%;">chevron_left</mat-icon></a>
    <span *ngFor="let acc of accommodation | slice:1 + service.from:service.to" 
    style="padding-right: 10px; padding-left: 10px; width: 50%"
    [@flyInOut]="'in'">
    <mat-card (mouseup)="Search(acc.accId)" style="width: 190px; border-radius: 8px;">
      <a>
          <div >
            <img mat-card-image src="data:image/jpeg;base64,{{acc.picture}}"
             alt="{{acc.location}}" srcset="" height="130px">
            
            <mat-card-header >
              <mat-card-title style="color: black">{{acc.location}}</mat-card-title>
    
            </mat-card-header>
    
            <mat-card-content style="color: black">
              {{acc.country}}
            </mat-card-content>
          </div>
          
      </a>
      
    </mat-card>
   </span>
   <a style="position: absolute; top: 50%; right: 3%;border-radius: 100%;z-index: 999;width: 3px; color: blue"
    *ngIf='service.to < accommodation.length' (click) = 'To()'><mat-icon style="border: outset; border-radius: 100%;">chevron_right</mat-icon></a>
  </mat-grid-tile>

</mat-grid-list>
