<mat-grid-list cols="2" rowHeight="210">
  <mat-grid-tile [rowspan]="2">
    <mat-toolbar style="background-color: gold" class="toolbar">

      <mat-toolbar-row>
        <label for="search">Destination or Property :</label>
        
      </mat-toolbar-row>

      <mat-toolbar-row class="spaceLayout">
        <!--<form class="form">-->
          <mat-form-field class="full-width">
          <input matInput type="search"  name="search" 
          placeholder="search" [formControl]="search" 
          [matAutocomplete]="auto" 
          (keyup)="searchTerm$.next($event.target.value)" class="search">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let result of result " [value]="result.country+', '+result.location">
              {{ result.country }} {{result.location}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf='search.invalid && search.pristine'>
            {{errorMessage}}
          </mat-error>
          <mat-hint align="end" *ngIf='error && search.untouched'>
            {{errorMessage}}
          </mat-hint>
        </mat-form-field>
        <!--</form>-->
      </mat-toolbar-row>

      <mat-toolbar-row>

        <mat-form-field class="date">
          <input matInput
          [min]="minDate" 
          [max]="maxDate" 
          (dateChange)="addEvent('change', $event)" 
          [matDatepicker]="picker1" placeholder="Choose a date" [(ngModel)]="dateForm"
            disabled>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 disabled="false"></mat-datepicker>
          <mat-hint *ngIf='!serviceSearch.availDate'>
            Property at this date has no available rooms
          </mat-hint>
        </mat-form-field>

        <span class="spacer">
        </span>

        <mat-form-field class="date">
          <input matInput [min]="minDate2" [max]="maxDate2" [matDatepicker]="picker2" placeholder="Choose a date" [(ngModel)]="dateTo"
            disabled>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 disabled="false"></mat-datepicker>
        </mat-form-field>

      </mat-toolbar-row>

      <mat-toolbar-row>
        
      </mat-toolbar-row>

      <mat-toolbar-row>
        <mat-form-field>
          <mat-select placeholder="Number of rooms to book" 
          [formControl]="panel"
          panelClass="{{panel.value}}" class="input">
            <!--<mat-option value="{{panel.number+panel.text}}">{{panel.number+panel.text}}</mat-option>-->
            <mat-option value="{{num.number+num.text}}" *ngFor="let num of Num ">{{num.number+num.text}}</mat-option>
            
          </mat-select>
        </mat-form-field>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span class="fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="spacer"></span>
        <button mat-raised-button (click)="Find(search)" color="primary">Search</button>
      </mat-toolbar-row>


    </mat-toolbar>
  </mat-grid-tile>

  <mat-grid-tile *ngFor="let acc of accommodation | slice:0:2">
    <a routerLink="" (click)="Search(acc.accId)">

      <div class="container" layout-wrap>

        <img src="data:image/jpeg;base64,{{acc.picture}}" alt="{{acc.location}}" srcset="" class="ImgGrid">

        <div class="topleft">{{acc.location}}</div>

      </div>

    </a>
  </mat-grid-tile>

  <mat-grid-tile [colspan]='2' >
    <span class="space" *ngFor="let acc of accommodation | slice:2">
    <mat-card class="card" (click)="Search(acc.accId)">
      <a routerLink="">
        <!-- <div *ngFor="let acc of accommodation; index as i"> -->
          <div class="poraloid"  layout-wrap>
            <img mat-card-image src="data:image/jpeg;base64,{{acc.picture}}" alt="{{acc.location}}" srcset="" class="First">
            <!-- <div [style.background-image]="Sanitize('data:image/jpeg;base64,' + acc.picture)"></div> -->
            <mat-card-header >
              <mat-card-title style="color: black">{{acc.country}}</mat-card-title>
    
            </mat-card-header>
    
            <mat-card-content style="color: black">
              This is America
            </mat-card-content>
          </div>
          
        <!-- </div> -->
      </a>
      
    </mat-card>
   </span>
  </mat-grid-tile>

</mat-grid-list>