img{
    position: absolute;
    top: 0%;
    left: 0%;
}
.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    opacity: 1;
}
.IMG{
    padding-left: 50px;
}
.backIMG{
    background-image: url("../../assets/images/lp-hero-gb-afl.jpg") ;
    background-size: 100%;
    background-repeat: no-repeat;
}
.Font{
    font-size: 10px;
    
}
.spacer {
    flex: 1 1 auto;
  }
  .search{
      background-color: antiquewhite;
  }
  /* .without::-webkit-datetime-edit-ampm-field {
    display: none;
  } */
  .wid
  {
      width: 50%;
  }
.field {
    width: 100%;
}
.spaceLayout {
    padding-bottom: 30px;
}
.full-width {
    width: 100%;
  }
  .search{
    background-color: antiquewhite;
  }
  .toolbar {
      width: 95%;
  }
