/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.space{
    padding:30px;
}
.spacer {
    flex: 1 1 auto;
  }
  .spaceLayout
  {
      padding-bottom: 20px;
  }
  .input{
    background-color: antiquewhite;
  }
  .full-width{
      width: 100%;
  }
input{
    background-color: antiquewhite;
}
a{
    text-decoration: none;
    
}
nav{
    text-decoration: none;
    text-decoration-line: none;
}
.navLinks
{
    text-decoration: none;
}