<mat-card>
  <mat-card-header>
    <mat-card-title align='center'>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="form" [formGroup]="_regForm">
      <table class="table">
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="text" name="name" 
              placeholder="Name" 
              [(ngModel)]="name"
              [formControl]="_regForm.controls.Name" 
              required>
              <mat-error *ngIf='_regForm.controls.Name.invalid'>
                {{getError(_regForm.controls.Name)}}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="text" name="surname" 
              placeholder="Surname" 
              [(ngModel)]="surname" 
              [formControl]="_regForm.controls.Surname" 
              required>
              <mat-error *ngIf='_regForm.controls.Surname.invalid'>
                  {{getError(_regForm.controls.Surname)}}
                </mat-error>
            </mat-form-field>
            
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="email" name="email" 
              placeholder="Email" 
              [(ngModel)]="email" 
              [formControl]="_regForm.controls.Email" required>
              <mat-hint align="end">
                  example@ex.com
                </mat-hint>
                <mat-error *ngIf="_regForm.controls.Email.invalid && 
            (_regForm.controls.Email.dirty || _regForm.controls.Email.touched)">
              {{getError(_regForm.controls.Email)}}
            </mat-error>
            </mat-form-field>
            
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="password" name="password" 
              placeholder="Password(e.g. B321@Booking)" 
              [(ngModel)]="password" 
              [formControl]="_regForm.controls.Password" 
              minlength="8" 
              required>
              <mat-hint align="end" class="form-control-feedback"
              *ngIf="_regForm.controls.Password.errors && 
     (_regForm.controls.Password.dirty || _regForm.controls.Password.touched)
      && _regForm.controls.Password.errors.minlength"
              >{{_regForm.controls.Password.errors.minlength.requiredLength - 
                _regForm.controls.Password.errors.minlength.actualLength}}
                characters left.</mat-hint>
                <mat-error *ngIf="_regForm.controls.Password.invalid && 
                (_regForm.controls.Password.dirty || _regForm.controls.Password.touched)">
                  {{getError(_regForm.controls.Password)}}
                </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="text" name="phone" 
              placeholder="Phone" 
              [(ngModel)]="phone" 
              [formControl]="_regForm.controls.Phone" 
              minlength="10"
              required>
              <mat-hint align="end" *ngIf="_regForm.controls.Phone.errors 
              && _regForm.controls.Phone.errors.minlength && 
     (_regForm.controls.Phone.dirty || _regForm.controls.Phone.touched)">
                  {{_regForm.controls.Phone.errors.minlength.requiredLength - 
                    _regForm.controls.Phone.errors.minlength.actualLength}}
                  characters left.
              </mat-hint>
              <mat-error *ngIf="_regForm.controls.Phone.invalid 
              && 
     (_regForm.controls.Phone.dirty || _regForm.controls.Phone.touched)">
                {{getError(_regForm.controls.Phone)}}
              </mat-error>
            </mat-form-field>
          </td>
          
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
      <!--<div *ngIf="!loading else Loading">-->
    <button mat-raised-button (click)="submitReg()" color="primary" [disabled]="!_regForm.valid || loading">
      <mat-spinner *ngIf="loading; else Submit" [diameter]="30"></mat-spinner>
      <ng-template #Submit>Submit</ng-template>
    </button>
  <!--</div>
    <ng-template #Loading>
        <mat-spinner></mat-spinner>
    </ng-template>-->
  </mat-card-actions>
</mat-card>